
#about .ab_area p{
  width: 60%;
  margin: 0 auto;
}
    
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
    #home .home_area .home_txt {
      width: 70%;
  }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    #home .home_area .home_txt {
      width: 100%;
  }
}



/*모바일*/

@media screen and (max-width:767px) {
  /* about */
  #about .ab_area p {
    width: 90%;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
