/*데탑*/
@media screen and (max-width:1440px) {

  /* intro2 */
  .intro2_box p {
    padding: 7% 2%;
  }

  /* intro3 */


  .intro3_bottom p {
    font-size: 0.8rem;
    font-weight: 100;
  }


}



/*노트북*/
@media screen and (max-width:1024px) {

  header .hd_wrap .pc_nav {
    width: 70%;
  }

  /* home */
  .main_vid {
    height: 100vh;
  }

  .main_vid video {
    width: auto;
    height: 100%;
  }

  #home .home_area {
    z-index: 15;
    position: absolute;
    width: 90%;
  }

  /* intro2 */
  .intro2_box {
    flex-direction: column;
  }

  /* intro3 */

  .intro3_top {
    text-align: center;
    padding-bottom: 40%;
  }

  .intro3_top img {
    width: 100%;
  }

  .intro3_box {
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    height: 420px;
  }

  .intro3_box li {
    text-align: left;
  }

  .intro3_bottom {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .intro3_bottom p {
    width: 48%;
    font-size: 1rem;
    font-weight: 600;
    padding: 2%;
  }

  /*roadmap*/

  .rdmap_wrap h3 {
    margin-bottom: 80px;
    text-align: center;
  }

  .rdmap_contents .rdmap_box {
    width: 32.5%;
  }

  /*contact*/

  .contact_wrap form input.email {
    padding: 2%;
  }

  .contact_wrap form input.send {
    padding: 2.2% 4%;
  }

  /*footer*/

  .footer1_whitepp {
    width: 20%;
  }


  .footer3_community {
    width: 15%;
  }
}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {


  /* header */
  header .hd_wrap .pc_nav {
    width: 80%;
  }

  hgroup h1 {
    height: 80px;
    display: none;
  }

  hgroup h1.mb_logo {
    display: flex;
    align-items: center;
  }

  hgroup h1.mb_logo img {
    max-width: 50px;
  }

  /* home */
  #home .home_area .btn_sec button {
    width: 43%;
  }

  #home .home_area .home_txt h2 {
    font-size: 5rem;
  }


  /* intro3 */

  .intro3_box {
    height: 345px;
  }

  .intro3_top {
    text-align: center;
    padding-bottom: 50%;
  }

  /* coin */
  .coin_top {
    width: 100%;
  }

  .coin_bottom {
    flex-direction: column;
  }

  .coin_bottom img {
    max-width: 80%;
}

  .coin_info {
    margin-top: 8%;
  }

  .coin_info {
    width: 100%;
  }

  .coin_bottom {
    width: 100%;
    padding: 0;
  }

  /*roadmap*/

  #roadmap {
    background: linear-gradient(#F0F5F9 15%, #ffffff 10%);
  }

  .rdmap_contents {
    flex-direction: column;
  }

  .rdmap_contents .rdmap_box {
    width: 80%;
    padding: 10%;
    margin: 0 auto;
  }

  .rdmap_contents .rdmap_box .rdmap_box_img img {
    max-width: 70%;
  }

  .rdmap_contents .rdmap_box.rdmap_2023 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /*contact*/

  .contact_wrap form input.email {
    width: 60%;
  }

  .contact_wrap form textarea {
    width: 85%;
  }

  .contact_wrap form input.send {
    width: 30%;
    padding: 3%;
  }


  /*footer*/

  footer {
    text-align: center;
  }

  .footer_contents {
    flex-direction: column;
  }

  .footer_contents>div:nth-child(2) {
    margin: 15% 0;
  }

  .footer1_whitepp {
    width: 100%;
  }

  .footer1_whitepp a {
    display: inline-block;
    width: calc(100% / 2 - 3%);
    margin-bottom: 0;
    margin-right: 3%;
  }

  .footer1_whitepp a:last-child {
    margin-right: 0 !important;
    float: right;
  }

  .footer2_inc {
    width: 100%;
  }

  .footer3_community {
    width: 100%;
  }

  .footer3_community a {
    width: 10%;
    margin: 0 auto;
  }

}



/*모바일*/

@media screen and (max-width:767px) {

  h3 {
    font-size: 2em;
  }

  /* mob */
  header .hd_wrap .pc_nav {
    display: none;
  }


  header .hd_wrap .mob_btn {
    display: block;
  }

  /* home */
  #home .home_area .home_txt {
    width: 100%;
  }

  #home .home_area .home_txt h2 {
    font-size: 4rem;
  }

  #home .home_area .home_txt h4 {
    font-size: 1.6rem;
  }

  /* intro3 */

  .intro3_top img {
    width: 100%;
  }

  .intro3_top {
    text-align: center;
    padding-bottom: 60%;
  }

  .intro3_bottom {
    flex-direction: column;
  }


  .intro3_bottom p {
    width: 90%;
  }

  .intro3_box {
    width: 90%;
    height: 275px;
  }


  /* coin */

  .coin_info li p {
    width: 85%;
}

  /*roadmap*/

  #roadmap {
    background: linear-gradient(#F0F5F9 20%, #ffffff 10%);
  }


  /*contact*/

  .contact_wrap form input.email {
    width: 80%;
    padding: 4%;
  }

  .contact_wrap form textarea {
    width: 100%;
    padding: 4%;
    margin-top: 4%;
    margin-bottom: 10%;
  }

  .contact_wrap form input.send {
    width: 40%;
    padding: 4.5% 6%;
  }

  /*footer*/

  .footer3_community a {
    width: 10%;
    margin: 0 auto;
  }



}


/*모바일2*/


@media screen and (max-width:576px) {
  h3 {
    font-size: 2rem;
  }


  /* home */
  #home .home_area .home_txt {
    width: 100%;
  }

  #home .home_area .home_txt h2 {
    font-size: 3rem;
  }

  #home .home_area .home_txt h4 {
    font-size: 1rem;
  }

  #home .home_area .home_txt p {
    font-size: 14px;
  }

  #home .home_area .home_txt p br {
    display: none;
  }

  #home .home_area .btn_sec button {
    font-size: 1.2rem;
    width: 100%;
  }

  #home .home_area .btn_sec button:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* about */
  #about .ab_area p br {
    display: none;
  }

  /* intro3 */
  .intro3_box {
    width: 95%;
    height: 240px;
  }

  .intro3_bottom {
    margin-top: 7%;

  }

  .intro3_bottom p {
    font-size: 0.9rem;
    padding: 4%;
    width: 95%;
  }

  .intro3_top {
    text-align: center;
    padding-bottom: 60%;
  }


  /* coin */

  .coin_top {
    width: 99%;
    align-items: center;
    flex-direction: column;
}


.coin_top p {
  width: 85%;
}

  .coin_bottom img {
    max-width: 90%;
  }

  .coin_info {
    width: 90%;
  }

  .coin_info span {
    margin-right: 0;
    width: 40px;
    height: 40px;
  }

  .coin_info li p {
    width: 80%;
  }

  /*roadmap*/

  .rdmap_contents .rdmap_box {
    width: 100%;
    padding: 10% 5%;
  }

  /*contact*/

  #contact {
    background: linear-gradient(#ffffff 25%, #E2F1FF 10%);
  }

  .contact_wrap form textarea {
    width: 90%;
    height: 400px;
  }



  /*footer*/

  .f_br {
    display: block;
  }

  .footer1_whitepp a {
    width: 80%;
    margin-right: 0;
    margin-bottom: 5%;
  }

  .footer1_whitepp a:last-child {
    float: none;
  }


}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {

  /* intro3 */
  .intro3_box li {
    font-size: 0.9rem;
  }
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {}